header > .action-bar {
    width: 85%;
    margin: 0 auto;
    overflow: auto;
}

.dropdown-menu {
    font-family: 'Roboto Condensed', sans-serif;
}

.dropdown-menu > p {
    color: #999999;
    cursor: pointer;
}

.dropdown-menu > ul {
    background: #000000;
    color: white;
    position: absolute;
    z-index: 10;
    top: 40px;
    width: 300px;
    list-style-type: none;
    padding: 5px 15px;
    box-sizing: content-box;
}

.dropdown-menu > ul > li:not(:last-of-type) {
    border-bottom: 1px solid #dddddd;
}

.dropdown-menu > ul > li {
    font-weight: 100;
    transition-duration: 0.2s;
    cursor: pointer;
    padding: 10px;
}

.dropdown-menu > ul > li:hover {
    color: #30bfb3;
    transition-duration: 0.2s;
}

#top-menu-dropdown {
    display: none;
}