.action-bar {
    width: 85%;
    margin: 0 auto;
    overflow: auto;
    line-height: 56px;
}

.dropdown-menu {
    font-family: 'Roboto Condensed', sans-serif;
    display: table;
}

#top-menu-arrow {
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
    color: #999999;
    transition-duration: 0.2s;
}

#top-menu-arrow:hover {
    transition-duration: 0.2s;
    color: black;
}

.dropdown-menu > p {
    color: #999999;
    cursor: pointer;
    line-height: 56px;
    margin: 0;
    transition-duration: 0.2s;
}

.dropdown-menu > p:hover {
    color: black;
    transition-duration: 0.2s;
}

.dropdown-menu > ul {
    background: #000000;
    color: white;
    position: absolute;
    z-index: 10;
    top: 56px;
    width: 300px;
    list-style-type: none;
    padding: 5px 15px;
    box-sizing: content-box;
    margin: 0;
}

.dropdown-menu > ul > li:not(:last-of-type) {
    border-bottom: 1px solid #dddddd;
}

.dropdown-menu > ul > li {
    font-weight: 100;
    transition-duration: 0.2s;
    cursor: pointer;
    padding: 12px;
}

.dropdown-menu > ul > li:hover {
    color: #30bfb3;
    transition-duration: 0.2s;
}

.hidden {
    display: none;
}
