header {
    background: white;
    height: 56px;
    border-bottom: 1px solid #dddddd;
    overflow: auto;
}

.filter-stroke {
    background: #dddddd;
    height: 56px;
    margin: 0;
}

.filter-stroke > .action-bar {
    height: 100%;
}

.filter-item {
    background: white;
    display: inline-block;
    height: 30px;
    line-height: 30px;
}

.filter-close-button {
    height: 100%;
    float: right;
    vertical-align: top;
    display: inline-block;
    padding: 0 10px;
}

.filter-close-button > i {
    margin-top: 6px;
    zoom: 0.8;
}
