header {
    background: white;
    height: 56px;
    border-bottom: 1px solid #dddddd;
    overflow: auto;
}

#filter-stroke {
    background: #dddddd;
    height: 56px;
    margin: 0;
    top: 56px;
    width: 100%;
    position: absolute;
    display: none;
}

#filter-stroke > .action-bar {
    height: 100%;
    line-height: 56px;
}

#filter-clear-button {
    display: inline-block;
    float: right;
    color: #999999;
    cursor: pointer;
    font-weight: 100;
}