.card-box-container {
    min-width: 300px;
    height: 500px;
    padding: 0 30px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    margin-bottom: 30px;
}

.card-box {
    background: white;
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
}

.card-box > .card-text {
    /*background: green;*/
    height: 43%;
    padding: 7px 16px;
    box-sizing: border-box;
    position: relative;
}

.card-text > .activity-type {
    color: #30bfb3;
    width: 80%;
    /*background: blue;*/
}

.card-text > .event-name {
    /*background: red;*/
    font-size: 22px;
    margin-top: -5px;
    font-weight: 800;
}

.card-text > .event-location {
    color: #999999;
    /*background: yellow;*/
    position: absolute;
    bottom: 10px;
    font-size: 14px;
    width: 80%;
}

.card-box > img {
    height: 57%;
    width: 100%;
    position: absolute;
    bottom: 0;
}